-----BEGIN CERTIFICATE-----
MIIDVzCCAj+gAwIBAgIJAMAJSg3wkiQ1MA0GCSqGSIb3DQEBBQUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTUwMTE1MjMyOTA5WhcNMjUwMTEyMjMyOTA5WjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
w0BgVv3jVHC/4OofLQn8QLwz6X7OI/MjXCeL73LDTbwcVlRoZPcFZbZxhNQ69O6I
sw9wH6L2LRf+JKBsQatlewRfbwkEKd0nMRSpeEARmOTUL4jc5TF1C1PFMZMVJvj1
zOGEMMtpggLKZHCRvt29OTH4ogciXqIB8PgrdD03Yi4aItQiKIm6cQThMy4ifZ7Z
u/8pH6K6TMxEmnev8SAuNIRyxUrY/SgvhmSLLXK8KzFtHNEsYLn572YviZbWsttz
TcUhZtAY4cECLAZXl1CwTNZmxD6PwmAvZWUWZtWUefaeWGa/yjqUYNrt2v8QBvID
Cjst3Jpjs7v+gR+MNI72qQIDAQABo1AwTjAdBgNVHQ4EFgQU/J++7BYk5RixiH/3
pUp0Zst7MyowHwYDVR0jBBgwFoAU/J++7BYk5RixiH/3pUp0Zst7MyowDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQUFAAOCAQEATTYMD42MHJ1X5/D4vih9CHzjSd86
q0wkF9On+jQJoPdmOf/MBoS7VHpzy9c4tBjYUKTejTfQfO8AHWzGZx8dUQwTdNrB
+92fWBPLp+EK73E2yeLIk3XQ827VArOeOYWdwjqtmwPhvO3noQgqMmpC7YO6BJdi
bTK8QddAGbZZsa1pJjh/AN0RHJMHYlTUBYC+m3F7fRWvTqbMPtX2P2xUJA26d9BV
4cQNyCSpgijSAdrjK/2g+nznPkoeDXEE2Pn84RtKV/pEFbek03Yi82EeMtwb672+
PHaJ7iljKlZWAtdhNrjg5jcAUzst3Sbl/wuVyJWlDOWajd0u/EhLN/MrwA==
-----END CERTIFICATE-----
